#hero {
	
	width:100%;
	background-image:url(actividad-bootstrap-photogallery-master/assets/images/bg.jpg)
	
}

.navbar {
float: right;
position:fixed;	
}

#texto-hero {
	padding-top: 100px;
	display:block;
}